.weui-panel{
  position:relative;
  margin-top:0;
  margin-bottom:1em;
  .header{
    width:100%;
    padding:1em 1em 0.5em 1em;
    font-size:1.2em;
    img{
      width:3.5em;
      margin-right:1em;
      border-radius: 50%;
    }
    span:nth-child(2){ 
      position:absolute;
      top:1em;
      color:@c6;
    }
    span:nth-child(3){
      position:absolute;
      top:2.5em;
      color:@c4;
    }
    span:nth-child(4){
      position:absolute;
      top:1.3rem;
      right:0;
      border-radius:10px 0 0 10px;
      padding:0 1rem;
      background:#d3d3d3;
      color:#fff;
    }
  }
  .content{
    padding-left:1em;
    padding-right:1em;
    line-height:1.5em;
    margin-bottom:.5rem;
    font-size:1.2em;
  }
  .footer{
    padding-left:1em;
    padding-right:1em;
    .footer-btn{
      color:@c4;
      font-size:1rem;
      i:nth-child(1){
        float:right;
        padding-right:2em;
      }
      i:nth-child(2){
        float:right;
        padding-right:2em;
      }
      i:nth-child(3){
        float:right;
        padding-right:2em;
      }
    }
    .footer-btn:after{
      content:"";
      display:block;
      width:100%;
      height:1px;
      background:transition;
      position:relative;
      bottom:-1.3em;
    }
    .comment{
      margin-top:2em;
      margin-bottom:1em;
      padding:1em;
      background:@c1;
      border-radius:10px;
      li{
        width:100%;
        span:nth-child(1){
          color:@c6;
        }
        span:nth-child(2){
          width:100%;
        }
      }
      div{
        text-align:center;
        border-top:1px solid #CCC;
        margin-top:0.5em;
        padding-top:0.5em;
      }
    }
  }
}