.weui-panel{
  position:relative;
  margin-top:0;
  margin-bottom:1em;
  // border-bottom: 1px solid #e9e9e9;
  .header{
    width:100%;
    padding:1em 1em 0.5em 1em;
    font-size:1.2em;
    img{
      width:3.5em;
      margin-right:1em;
      border-radius: 50%;
    }
    .usename{ 
      position:absolute;
      top:1em;
      color:@cc6;
      font-size: 1.2em;
    }
    .time{
      position:absolute;
      top:3.3em;
      color:@cc3;
      font-size: 0.9em;
    }
    .tips{
      position:absolute;
      top:1.3rem;
      right:0;
      border-radius:20px 0 0 20px;
      padding:0 0.6rem;
      background:#d3d3d3;
      color:#fff;
    }
  }
  .content{
    padding-left:1em;
    padding-right:1em;
    line-height:1.5em;
    margin-bottom:.5rem;
    font-size:1.2em;
  }
  .footer{
    padding-left:1em;
    padding-right:1em;
    .footer-btn{
      color:@c4;
      font-size:0.9rem;
      padding-bottom: 8px;
      overflow: hidden;
      .iconfont{
        float:right;
        padding:0 1em;
      }
    }
    .footer-btn:after{
      content:"";
      display:block;
      width:100%;
      height:1px;
      background:transition;
      position:relative;
      bottom:-1.3em;
    }
    .comment{
      margin-bottom:1em;
      padding:1em;
      background:@c1;
      border-radius:6px;
      li{
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        span:nth-child(1){
          color:@cc6;
        }
      }
      .more{
        text-align:center;
        border-top:1px solid @cc4;
        margin-top:0.5em;
        padding-top:0.5em;
        color: #999;
      }
    }
  }
}