@c0:#f4f2e8;
@c1:#f5f5f5;
@c2:#c2c2c2;
@c3:#34495e;
@c4:#a6a6a6;
@c5:#df5000;
@c6:#49b849;

//主题文字
@cc1:#333;   
//副文字
@cc2:#999;  
//次文字  时间
@cc3:#c2c2c2; 
//前边框
@cc4:#e5e5e5;
// 主题绿色
@cc6:#49b849;



@theme-color: @c6;

@button-tab-border-color: @c5;
@button-tab-active-font-color: #000;

@button-primary-bg-color: @c6;
// @button-primary-active-bg-color: @c5;

@number-button-font-color: #FF9900;
@number-round-button-enabled-border-color: #FF9900;

@swiper-indicator-active-color: @c6;

@checklist-icon-active-color: #FF9900;

@tab-text-active-color: #FF9900;
@tab-bar-active-color: #FF9900;

@dialog-button-text-primary-color: #FF9900;

@form-preview-button-primary-color: #FF9900;

@tabbar-text-active-color: @c6;

@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-text-active-color: @theme-color;
@tab-bar-active-color: @theme-color;

@header-background-color: @c3;
@header-title-color: #fff;
@header-text-color: #fff;
@header-arrow-color: #fff;
