@c0:#f4f2e8;
@c1:#E6EFF0;
@c2:#C2DDEA;
@c3:#91C2CD;
@c4:#618CA0;
@c5:#547583;
@c6:#509983;

@theme-color: @c6;

@button-tab-border-color: @c5;

@button-tab-active-font-color: #000;

@number-button-font-color: #FF9900;
@number-round-button-enabled-border-color: #FF9900;

@swiper-indicator-active-color: @c6;

@checklist-icon-active-color: #FF9900;

@tab-text-active-color: #FF9900;
@tab-bar-active-color: #FF9900;

@dialog-button-text-primary-color: #FF9900;

@form-preview-button-primary-color: #FF9900;

@tabbar-text-active-color: @c6;

@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-text-active-color: @theme-color;
@tab-bar-active-color: @theme-color;

@header-background-color: @c6;
@header-title-color: #fff;
@header-text-color: #fff;
@header-arrow-color: #fff;
