@font-face {
  font-family: 'iconfont';
  /* project id 291668 */
  src: url('//at.alicdn.com/t/font_291668_m0om9d7kxm.eot');
  src: url('//at.alicdn.com/t/font_291668_m0om9d7kxm.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_291668_m0om9d7kxm.woff') format('woff'), url('//at.alicdn.com/t/font_291668_m0om9d7kxm.ttf') format('truetype'), url('//at.alicdn.com/t/font_291668_m0om9d7kxm.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-style: normal;
}
